/* Set document defaults */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: none;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/* App Styling */

.header {
    margin-bottom: 25px;
    color: #fff;
    font-size: 1.5rem;
}

.app {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 300ms ease-in-out;
}

.table-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.table-nav-container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: fit-content;
  width: 100vw;
  bottom: 0;
  margin: 0 1rem 1rem 1rem;
}

.dummy-bottom-spacer {
  display: block;
  position: relative;
  visibility: hidden;
  height: 1px;
  width: 100%;
  bottom: 0;
  background-color: red;
}
