/* Theme Globals */
@import "./theme.css";

/* Flex Globals */
.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-shrink-1 {
    flex-shrink: 1;
}

.flex-shrink-2 {
    flex-shrink: 2;
}

.flex-shrink-3 {
    flex-shrink: 3;
}

.justify-left {
    justify-content: left;
}

.justify-right {
    justify-content: right;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-around {
    justify-content: space-around;
}

.align-left {
    align-items: left;
}

.align-right {
    align-items: right;
}

.align-center {
    align-items: center;
}

