.ctable-container {
    width: 100%;
    margin: 0 1rem 0 0;
}

.ctable-header {
    width: 100%;
}

.ctable-header-row {
    font-weight: bold;
}

.ctable-header-row-data {
    font-size: 1rem;
}

.ctable-header-row,
.ctable-body-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: left;
    align-self: center;
}

.ctable-body-row-data {
    text-align: left;
}

.ctable-header-row-data,
.ctable-header-row-last,
.ctable-body-row-data {
    padding: 0.5rem;
    user-select: none;
}

.ctable-header-row-data,
.ctable-body-row-data {
    width: fit-content;
}

.ctable-header-data-sep {
    cursor: col-resize;
    height: 16px;
    width: 2px;
    margin: 0 1rem 0 1rem;
    background-color: red;
    z-index: 1;
    align-self: center;
}

.ctable-header-row-last {
    width: fit-content;
}

