.table-container {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

.table-header-row {
    font-weight: bold;
}

.table-body-row {
}

.table-body-row-data {
    text-align: left;
}
